.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the form */
.form {
    width: 380px;
    height: 500px;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
    text-align:center;
}

/* Style the input fields */
.form input[type="text"], .form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the picker */
.form .picker {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style the buttons */
.form input[type="submit"], .form input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form input[type="submit"]:hover, .form input[type="button"]:hover {
    background-color: #45a049;
}

/* Style the labels */
.form label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

/* Style the headings */
.form h2 {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}


.nav-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#Menu Bar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#Menu Bar li {
    margin: 0 10px;
}

#Menu Bar a {
    color: rgb(56, 52, 52);
    text-decoration: none;
    font-size: 18px;
}