*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Home
{
    height: 100%;
	width: 100%;
	background-image:url(image/green_fiesta.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.nav-bar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    
    color: rgb(11, 5, 36);
    font-size: 30px;
}

.Form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(26, 10, 40, 0.386);
	padding:10px;
    overflow: hidden;
}
.button
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #59b0501f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	color:rgb(200, 207, 221);
	border:0;
	outline: none;
	position: relative;
}
#Button
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #daa672;
	border-radius: 30px;
	transition: .5s;
}
.login_form
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.signup_form
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgb(221, 233, 239);
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #5ab873;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:rgb(229, 234, 227);
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

.bg-image {
    background-image: url("Image/image04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



/*mathaka na*/

form {
	width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(198, 204, 188, 0.386);
	padding:10px;
    overflow: hidden;
	
  }

  
 
.form-border {
    border: 1px solid rgb(114, 114, 162);
    background-color: rgb(130, 112, 112);
    padding:10px;
}
  
  label {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
  }
  
  input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid rgb(252, 248, 248);
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 16px;
  }
  
  input[type="file"] {
	padding: 12px;
	border: 1px solid rgb(243, 238, 238);
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 16px;
  }
  
  input[type="submit"] {
	background-color: #472aa6;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }

  #image-preview {
	width: 100%;
	height: auto;
	margin-top: 10px;
  }


  /*article*/

  .container {
	width: 80%;
	margin: 0 auto;
  }
  
  body {
    background-color: rgb(110, 110, 135);
}


  .title {
	text-align: center;
	margin-bottom: 50px;
  }
  
  .news-list {
	display: flex;
	flex-wrap: wrap;
  }
  
  .news-item {
	width: 30%;
	margin: 0 1%;
	padding: 20px;
	background-color: #f2f2f2;
  }
  
  .news-image {
	width: 100%;
	margin-bottom: 20px;
  }
  
  .news-title {
	margin-bottom: 10px;
  }
  
  .news-date {
	color: #999;
	}

	/*add article*/

	.req.form {
		width: 80%;
		margin: 0 auto;
		padding: 20px;
		background-color: #f2f2f2;
		border-radius: 5px;
		display:block;
		}
	  
	  label {
		font-size: 16px;
		font-weight: bold;
		display: block;
		margin-bottom: 10px;
	  }
	  
	  input[type="text"], input[type="date"], textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin-bottom: 20px;
		font-size: 16px;
	  }
	  
	  input[type="file"] {
		padding: 12px;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin-bottom: 10px;
		font-size: 16px;
	  }
	  
	  input[type="submit"] {
		background-color: #4CAF50;
		color: white;
		padding: 12px 20px;
		border: none;
		cursor: pointer;
		margin-top: 20px;
	  }



/*About us*/

/* Styling for the navigation bar */
.nav-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#Menu Bar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#Menu Bar li {
    margin: 0 10px;
}

#Menu Bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 50px 0;
    text-shadow: 2px 2px 4px #e8e7ef; 
    color: rgb(85, 73, 73); 
}

.container_a{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 50px; 
}

.image-container_a {
    width: 100%;
    padding: 20px; 
    box-shadow: 0px 0px 10px 0px #ccc;
	
}

.text-container_a {
    width: 50%;
    padding: 20px; 
    background-color: rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 10px 0px #ccc;
	float: right; 
}